<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type='text/css' href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="w-screen h-12 shadow-lg flex items-center p-2">
        <img src="img/Burger.png" width="40px" id="burger">
        <p class="text-center mx-auto">Welcome <%=data.username%></p>
    </header>
    <nav>
        <img src="img/Burger.png" width="40px" id="burger2">
        <ul id="navChildren">
            <li><a href="">HOME</a></li>
            <li><a href="">WEB CALL</a></li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <p>Contact number :<%=data.contactNumber%></p>
            <div style="display: flex; justify-content: space-evenly;">
                <div class="boxes">
                    <p>Public chat</p>
                    <input type="button" value="Enter" class="button" onClick="location.href='public-room'">
                </div>
                <div class="boxes">
                    <p>Private chat</p>
                    <input type="button" value="Enter" class="button" onClick="location.href='private-room'">

                </div>

            </div>
        </div>

    </main>
    <script src="js/nav.js"></script>
</body>
</html>