nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 0;
    background-color: grey;
    height: 100vh;
    transition: 0.5s;
    z-index: 3;
}
#burger{
    cursor: pointer;
}
#navChildren{
    display: none;
}
ul li{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}
ul li:hover{
    color: aqua;
}
main{
    width: 100vw;
    height: 100vh;
    background: rgba(128, 128, 128, 0.123);
    padding-top: 20px;
}
#contactForm{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
input[type='text']{
    margin: 10px 0;
    padding: 5px 12px;
}
.container{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 12px 0;
}
.boxes{
    margin-top: 25px;
    background-color: white;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.192);
    width: 30%;
    text-align: center;
    padding: 25px 0;
    border-radius: 6px;
    cursor: pointer;
}
.button{
    padding: 5px 12px;
    border: 1px solid black;
    cursor: pointer;
}
.msg-conatiner{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 400px;
    padding: 25px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.219);
}
.msg-conatiner ul li:nth-child(even){
    background-color: rgba(0, 0, 0, 0.185);
}