nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 0;
    background-color: grey;
    height: 100vh;
    transition: 0.5s;
    z-index: 3;
}
#burger{
    cursor: pointer;
}
#navChildren{
    display: none;
}
ul li{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}
ul li:hover{
    color: aqua;
}