nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 250px;
    background-color: grey;
    height: 100vh;
    transition: 0.5s;
}
ul li{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}
ul li:hover{
    color: aqua;
}